<h1 class="page-heading h1 text-capitalize mb-3">grocery list</h1>
<table class="table">
  <thead>
    <tr>
      <th>#SLNO</th>
      <th>Date</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productData">
      <td>{{ item.slno }}</td>
      <td>{{ item.dateOfPurchase | date : "mediumDate" }}</td>
      <td>{{ item.productData?.productName }}</td>
      <td>{{ item.quantity }} {{ item.unit }}</td>
      <td>{{ item.totalPrice }}</td>
      <td>Action</td>
    </tr>
  </tbody>
</table>

<ul class="pagination">
  <li
    class="first pagination-item"
    [ngClass]="{ disabled: page === 1 }"
    (click)="fetchPage('first')"
  >
    First
  </li>
  <li
    class="prev pagination-item"
    [ngClass]="{ disabled: page === 1 }"
    (click)="fetchPage('prev')"
  >
    Previous
  </li>
  <li class="page-number">{{ page }}</li>
  <li
    class="next pagination-item"
    [ngClass]="{ disabled: page === pager }"
    (click)="fetchPage('next')"
  >
    Next
  </li>
  <li
    class="last pagination-item"
    [ngClass]="{ disabled: page === pager }"
    (click)="fetchPage('last')"
  >
    Last
  </li>
</ul>
