<div class="d-flex align-items-center justify-content-between">
  <h1 class="page-heading h1 text-capitalize mb-3">grocery list</h1>
  <div
    class="nav-section d-flex align-items-center justify-content-end gap-3 mb-3"
  >
    <button
      class="btn bg-danger bg-opacity-50 shadow-sm text-white"
      (click)="openAddGroceryForm()"
    >
      Add Grocery
    </button>
    <div
      class="search-product d-flex align-items-center justify-content-start gap-3"
    >
      <input
        type="text"
        placeholder="Search"
        class="form-control"
        [(ngModel)]="filter"
      />
      <button
        class="btn btn-filter bg-danger bg-opacity-50 text-white"
        (click)="searchProduct()"
      >
        Filter
      </button>
      <button
        class="btn btn-clear btn-secondary"
        *ngIf="filter !== ''"
        (click)="clear(); filter = ''"
      >
        Clear
      </button>
    </div>
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="slno">#SLNO</th>
      <th>Date</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productData">
      <td>{{ item.slno }}</td>
      <td>{{ item.dateOfPurchase | date : "mediumDate" }}</td>
      <td>{{ item.productData?.productName }}</td>
      <td>{{ item.quantity }} {{ item.unit }}</td>
      <td>{{ item.totalPrice }}</td>
      <td class="text-end">Action</td>
    </tr>
  </tbody>
</table>

<ul class="pagination" *ngIf="totalRecord > 10">
  <li
    class="first pagination-item"
    [ngClass]="{ disabled: page === 1 }"
    (click)="fetchPage('first')"
  >
    First
  </li>
  <li
    class="prev pagination-item"
    [ngClass]="{ disabled: page === 1 }"
    (click)="fetchPage('prev')"
  >
    Previous
  </li>
  <li class="page-number">{{ page }}</li>
  <li
    class="next pagination-item"
    [ngClass]="{ disabled: page === pager }"
    (click)="fetchPage('next')"
  >
    Next
  </li>
  <li
    class="last pagination-item"
    [ngClass]="{ disabled: page === pager }"
    (click)="fetchPage('last')"
  >
    Last
  </li>
</ul>
