<h1 mat-dialog-title class="page-heading h1 text-capitalize mb-3 border-bottom">
  {{ this.data.title }} Grocery
</h1>

<mat-dialog-content>
  <form class="adding-form" [formGroup]="addGroceryForm">
    <div class="row mx-0">
      <div class="col-12 col-md-6 mb-3">
        <label for="productName" class="form-label">Search Product</label
        ><input
          type="text"
          name="productName"
          id="productName"
          formControlName="productName"
          class="form-control form-input"
          placeholder="Search Product"
        />
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="unit" class="form-label">Unit</label
        ><select
          type="text"
          name="unit"
          id="unit"
          formControlName="unit"
          class="form-select"
          (change)="calculate()"
        >
          <option value="">Select Unit</option>
          <option value="kg">KG</option>
          <option value="ltr">Liter</option>
          <option value="pkt">Pocket</option>
        </select>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="quantity" class="form-label">Quantity</label
        ><input
          type="number"
          name="quantity"
          id="quantity"
          formControlName="quantity"
          class="form-control form-input"
          placeholder="Quantity"
          (keyup)="calculate()"
        />
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="totalPrice" class="form-label">Total Price</label
        ><input
          type="text"
          name="totalPrice"
          id="totalPrice"
          formControlName="totalPrice"
          class="form-control form-input"
          placeholder="Total Price"
          (keyup)="calculate()"
        />
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="pricePerUnit" class="form-label">Price Per Unit</label
        ><input
          type="text"
          name="pricePerUnit"
          id="pricePerUnit"
          formControlName="pricePerUnit"
          class="form-control form-input"
          placeholder="Price Per Unit"
          (keyup)="calculate()"
        />
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="dateOfPurchase" class="form-label">Date</label
        ><input
          type="date"
          name="dateOfPurchase"
          id="dateOfPurchase"
          formControlName="dateOfPurchase"
          class="form-control form-input"
          placeholder="Date"
        />
      </div>
      <div class="col-Description12">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          id="description"
          formControlName="description"
          class="form-control form-textarea"
          placeholder="Description"
        ></textarea>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div
    class="col-12 d-flex justify-content-center justify-content-md-end gap-3"
  >
    <button class="btn btn-primary" (click)="formSubmit()">
      {{ this.data.title }} Grocery
    </button>
    <button class="btn btn-danger" (click)="onNoClick()">Close</button>
  </div>
</mat-dialog-actions>
