.year-month-container {
  .form-select {
    min-width: 200px;
  }
  .months-list {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;
    width: 240px;
    grid-template-columns: repeat(4, 1fr);
    .month {
      cursor: pointer;
    }
  }
  .btn-add-grocery {
    min-width: 120px;
  }
}
