<div class="d-flex align-items-center justify-content-center h-100">
  <form class="login-form">
    <mat-form-field class="username w-100">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Alex" />
    </mat-form-field>
    <mat-form-field class="password w-100">
      <mat-label>Password</mat-label>
      <input matNativeControl type="password" />
    </mat-form-field>
    <div class="w-100">
      <button mat-button class="d-inline-flex ms-auto">Login</button>
    </div>
  </form>
</div>
