<div
  class="nav-section d-flex align-items-center justify-content-end gap-3 mb-3"
>
  <button
    class="btn bg-danger bg-opacity-50 shadow-sm text-white"
    (click)="openAddProductForm()"
  >
    Add Product
  </button>
  <div
    class="search-product d-flex align-items-center justify-content-start gap-3"
  >
    <input
      type="text"
      placeholder="Search"
      class="form-control"
      [(ngModel)]="filter"
    />
    <button
      class="btn btn-filter bg-danger bg-opacity-50 text-white"
      (click)="searchProduct()"
    >
      Filter
    </button>
    <button
      class="btn btn-clear btn-secondary"
      (click)="fetchPage('first'); filter = ''"
    >
      Clear
    </button>
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="slno">#SLNO</th>
      <th>Name</th>
      <th>Tags</th>
      <th>Description</th>
      <th class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productData">
      <td>{{ item.slno }}</td>
      <td>{{ item.productName }}</td>
      <td>{{ item.tags }}</td>
      <td>{{ item.description }}</td>
      <td class="text-end">Action</td>
    </tr>
  </tbody>
</table>

<ul class="pagination">
  <li
    class="first pagination-item"
    [ngClass]="{ disabled: page === 1 }"
    (click)="fetchPage('first')"
  >
    First
  </li>
  <li
    class="prev pagination-item"
    [ngClass]="{ disabled: page === 1 }"
    (click)="fetchPage('prev')"
  >
    Previous
  </li>
  <li class="page-number">{{ page }}</li>
  <li
    class="next pagination-item"
    [ngClass]="{ disabled: page === pager }"
    (click)="fetchPage('next')"
  >
    Next
  </li>
  <li
    class="last pagination-item"
    [ngClass]="{ disabled: page === pager }"
    (click)="fetchPage('last')"
  >
    Last
  </li>
</ul>
