<app-logo />
<mat-divider></mat-divider>
<div class="side-navigation">
  <div class="menu-section">
    <span class="menu-item" [routerLink]="['/dashboard']">Dashboard</span>
  </div>
  <div class="menu-section">
    <span class="menu-item" [routerLink]="['/products']">Products</span>
  </div>
  <div class="menu-section">
    <div class="menu-header" (click)="toggleMenu('grocery')">
      <span class="menu-item">Grocery</span>
    </div>
    <div class="menu-body" *ngIf="openMenu === 'grocery' && clicked !== 0">
      <span class="menu-item" [routerLink]="['/grocery/list']"
        >List Grocery</span
      >
      <span class="menu-item" [routerLink]="['/grocery/by-month']"
        >Grocery By Month</span
      >
    </div>
  </div>
</div>
