/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.work-area {
  position: relative;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  .pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    cursor: pointer;
    border: 1px solid #ddd;
  }
  .page-number {
    min-width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px 8px;
  }
}

.bg-success .mdc-snackbar__surface {
  background-color: var(--bs-green) !important;
}

.table .slno {
  width: 70px;
}
.pointer {
  cursor: pointer !important;
}

.actions {
  position: relative;
  .action-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: max-content;
    right: 50px;
    .btn {
      border-radius: 0;
      outline: 0;
      box-shadow: none;
      color: var(--bs-white);
      &.btn-view {
        background-color: var(--bs-orange);
      }
      &.btn-edit {
        background-color: var(--bs-info);
      }
      &.btn-delete {
        background-color: var(--bs-danger);
      }
      &:hover {
        &.btn-view,
        &.btn-edit,
        &.btn-delete {
          background-color: var(--bs-dark);
        }
      }
    }
  }
}
